//

@use "../abstract" as *;
// @use "..";


.img-wrapper {
    height: 30em;
    position: relative;
    width: 269px;
    .img-hallow {
        @extend .img-wrapper;
        position: absolute;
        top: -10px;
        left: 10px;
        border: 1px solid black;
        // width: 100%;
        z-index: -1;
    }
}