//

// ul, li mixin

@mixin listReset($list) {
    @if $list == "navList" {
    margin: 0;
    padding: 0;
    list-style: none;
    }
}

//
// center

@mixin positionCenter($center) {
    @if $center == absoluteCenter {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }    
    @else if $center == verticalCenter {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(0, 50%);
        -webkit-transform: translate(0, 50%);
        -moz-transform: translate(0, 50%);
        -ms-transform: translate(0, 50%);
        -o-transform: translate(0, 50%);
}
    @else if $center == gridCenter {
        display: grid;
        place-content: center;
    }
    @else if $center == flexCenter {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

//links

@mixin linkDeco($a) {
    @if $a == headerLink {
        color: inherit;
        background-color: transparent;
        text-decoration: none;
    }
}

//

@mixin backgroundGradient($stripes) {
    @if $stripes == repeatingStripes {
        background: repeating-linear-gradient(-45deg, #fff 0px, burlywood 10px, #fff 10px, burlywood 20px);
    }
}

// variables used in home.scss

@mixin homeVariables($point) {
    @if $point == width {
        width: 90%;
        margin: 1.5rem auto;
    }
    @else if $point == border {
        border: 2px solid black;
    }
    @else if $point == transition {
        transition: all 1.2s ease-in-out;
        -webkit-transition: all 1.2s ease-in-out;
        -moz-transition: all 1.2s ease-in-out;
        -ms-transition: all 1.2s ease-in-out;
        -o-transition: all 1.2s ease-in-out;
        // transition-delay: .2s;
}
    @else if $point == transitionEase {
        transition: all 2s;
        // transition-delay: .4s
}
}
