//

.burger-nav {    
    cursor: pointer;
    // border: 2px solid black;
    width: fit-content;
    // background-color: grey;
    padding: 1.3em .6em;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    .bar {
        width: 30px;
        height: 4px;
        display: block;
        margin: 3px;
        background-color: black;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
}
}