//

#burger-nav {    
    cursor: pointer;
    border: 2px solid black;
    width: fit-content;
    // background-color: grey;
    // padding: 1.3em .6em;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    // height: 70px;
    // margin-block: .4em 0em;
    // width: 70px;
    position: relative;
    .bar {
        width: 30px;
        height: 4px;
        display: block;
        margin: 3px;
        background-color: black;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
    }
    .burger-message  {
        display: flex;
        display: none;
    }
}

.close-nav {
    width:40px;
    height:40px;
    background-color:red;
    position:relative;
    border-radius:6px;
    float: right;
    clear: both;
    cursor: pointer;
    &::before, &::after {
        content:'';
        position:absolute;
        width:36px;
        height:4px;
        background-color:rgb(0, 0, 0);
        border-radius:2px;
        top:16px;
    }
    &::after {
        -webkit-transform:rotate(-45deg);
        -moz-transform:rotate(-45deg);
        transform:rotate(-45deg);
    }
    &::before {
        -webkit-transform:rotate(45deg);
        -moz-transform:rotate(45deg);
        transform:rotate(45deg);
    }
}