//
// @use "../";
@use "../abstract" as *;
@use "../components/" as *;
@use "../utilities/" as *;

.logo {
    font-size: 1.25rem;
    font-weight: 700;
    font-family: "Dancing Script", system-ui;
    margin-top: 4px;
    margin-left: 4px;
    margin-bottom: 2px;
    // padding-bottom: .2em;
}
#burger-nav {
    position: absolute;
    right: 2px;
    top: 9px;
    @include customBreakpoint(headerNav) {
        display: none;
    }
}
nav {
    // display: none;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    transition: all .8s ease-in-out;
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -ms-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    background-color: yellow !important;
    ul {
        // background-color: rgba(0, 0, 0, 0.437);
        @include breakpoint(mediumAbove);
    }
    li {
        @include listReset(navList);
        border: none;
        border-bottom: 1px solid black;
        // margin: 2px 0;
        &:last-child {
            margin: 0;
        }
        &:nth-child(1) {
            border-top: 1px solid black;
        }
    }
    a {
        padding: .5em 0;
        // background-color: burlywood !important;
        display: block;
        height: 100%;
    }
    @include customBreakpoint(headerNav) {
        max-height: auto;
        overflow: visible;
        ul {
            display: flex;
            gap: 1em;
        }
        li {
            border: 1px solid black;
            width: 120px;
        }
        a {
            padding: .2em 0;
            margin: 0;
        }
    }
}
header {
    a {
        @include linkDeco(headerLink);
    }
    position: relative;
    border-bottom: 2px solid black;
    padding: .4em 0;
    padding-bottom: 0;
    .fa {
        display: none;
    }
    z-index: 50;
    @include customBreakpoint(headerNav) {
        display: flex;
        justify-content: space-between;
        padding: .7em 4em;
    }
    @media screen and (width < 900px) {
        position: sticky;
        top: 0;
        /*
        nav { 
            max-height: auto;
            overflow: visible;
            ul {
                display: flex;
                gap: 1em;
            }
            li {
                border: 1px solid black;
                width: 120px;
            }
            a {
                padding: .2em 0;
                margin: 0;
            }
        }
        */
    }
}